#contact-page h1 {
  margin-top: 3rem;
  text-align: center;
}

#contact-page>div {
  margin-top: 3rem;
  display: flex;
}

#location-image img {
  padding-left: 5vw;
  width: 40vw;
  height: auto;
}


#contact-copy {
  margin-left: 3rem;
  /* margin-top: 1rem; */
}

#contact-copy table {
  margin-top: 2rem;
}

#contact-copy th {
  text-align: left;
}

#contact-copy td {
  color: rgb(100, 100, 100)
}