table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.price {
  padding-left: 0.7rem;
  font-variant-numeric: tabular-nums;
}

.price::before {
  content: "£";
  font-variation-settings: 'wght' 400, 'wdth' 110, 'ital' 50;
}

tr td:nth-child(3) {
  padding-left: 2rem;
}

.title {
  font-weight: bold;
  font-size: medium;
  display: block; /* to ensure on own line */
}

.title .description {
  font-weight: normal;
  font-size: small;
  color: gray;
  display: block; /* to ensure on own line */
  margin-top: 0.25rem;
}