@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-libre-baskerville: "Libre Baskerville", serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-libre-baskerville);
  font-weight: var(--font-weight-regular);
}

h1 {
  letter-spacing: 0.05rem;
  font-size: xx-large;
  font-weight: var(--font-weight-bold);
}

p {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

/* ######################## Header/tab section ################################ */

nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  border-bottom: 1px solid;
}

button.tab {
  background-color: seashell;
  border: 1px solid black;  
  border-bottom: none;
  border-top-left-radius: 0.25rem;  
  border-top-right-radius: 0.25rem;
  font-size: large;
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
button:hover {
  cursor: pointer;
} 

/* ######################## Ingredients section ################################ */
#sushi1-svg {
  height: 6rem;
  width: auto;
}

section#ingredients-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.5rem;;
  margin-right: 15vw;
  /* width: 30vw; */
}

section#ingredients-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section#ingredients-section div h1 {
  margin-bottom: 0.8rem;
}

#ingredients-section .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding-left: 2vw;
}

#ingredients-section .content p {
  margin: 0;
  max-width: 20rem;
  flex-wrap: wrap;
}

/* ######################## Chef section ################################ */
section#chef-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15vw;
  margin-top: 4rem;
}

section#chef-section p {
  max-width: 55vw;
  margin-top: 0;
}

/* ######################## Reviews section ################################ */

#reviews-section h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

#reviews-section span {
  font-weight: var(--font-weight-bold);
}

#reviews {
  display: flex;
  justify-content: space-around;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

#reviews p {
  font-size: small;
}

.image-mask {
  min-width: 80px;
  height: 80px;
  mask-image: radial-gradient(ellipse, black 50%, transparent 60%);
}

#review-1, #review-2, #review-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 30vw;
  align-items: center;
  gap: 0.8rem;

}

#review-2 {
  gap: 0;
}

#reviews-section p {
  max-width: 35vw;
}

#pet1 {
  position: absolute;
  height: 7rem;
  top: 7px;
  left: 3px
;}

#pet2 {
  position: absolute;
  height: 8rem;
  top: -9px;
  left: -7px;
}

#pet3 {
  position: absolute;
  height: 6rem;
  top: 5px;
  left: -6px;
}


