@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-libre-baskerville: "Libre Baskerville", serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-libre-baskerville);
  font-weight: var(--font-weight-regular);
}

h1 {
  letter-spacing: 0.05rem;
  font-size: xx-large;
  font-weight: var(--font-weight-bold);
}

p {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

button.tab {
  background-color: paleturquoise;
  border: 1px solid black;  
  border-bottom: none;
  border-top-left-radius: 0.25rem;  
  border-top-right-radius: 0.25rem;
  font-size: large;
}

section#ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10rem;
  /* width: 30vw; */
}

section#ingredients div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section#ingredients div h1 {
  margin-bottom: 0.8rem;
}

#ingredients .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding-left: 3rem;
}

#ingredients .content p {
  margin: 0;
  max-width: 20rem;
  flex-wrap: wrap;
}

section#chef {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8rem;
  margin-top: 2rem;
}

section#chef p {
  max-width: 60vw;
  margin-top: 0;
}

section#reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15rem;
}

.image-mask {
  width: 100px;
  height: 100px;
  mask-image: radial-gradient(circle, black 50%, transparent 70%);
}

#review-1, #review-2, #review-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#pet1 {
  position: absolute;
  height: 10rem;
  top: 1px;
}

#pet2 {
  position: absolute;
  height: 10rem;
  top: -18px;
  left: -6px;
}

#pet3 {
  position: absolute;
  height: 6rem;
  top: 1px;
  left: 1px;
}

#sushi1-svg {
  height: 6rem;
  width: auto;
}

